@media print {
  .no-print {
    display: none !important;
  }
}

html {
  scrollbar-gutter: stable;
}

@media screen and ((max-width: 850px) or (max-height: 800px)) {
  .mobile-hidden {
    display: none !important;
  }

  .fixed-header-avatar,
  .fixed-header-avatar img {
    width: 40px !important;
    height: 40px !important;
  }

  .MuiTypography-h3 {
    font-size: 2.2rem !important;
  }
}
